# Systemd unit file for managing the app's lifecycle
[Unit]
Description = Py Stats Webapp
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/gunicorn/py-stats-webapp.pid
User = www-data
Group = www-data
RuntimeDirectory = gunicorn
WorkingDirectory = /var/www/Py-Stats-Webapp
ExecStart = /var/www/Py-Stats-Webapp/venv/bin/gunicorn -c ./config/gunicorn.py app:app
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
PrivateTmp = true

[Install]
WantedBy = multi-user.target
