# Systemd unit file for managing the app's lifecycle
[Unit]
Description = Ski Stats Webapp
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/gunicorn/ski-stats-webapp.pid
User = www-data
Group = www-data
RuntimeDirectory = gunicorn
WorkingDirectory = /var/www/Ski-Stats-Webapp
ExecStart = /var/www/Ski-Stats-Webapp/venv/bin/gunicorn -c ./config/gunicorn.py ski_stats:app
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
PrivateTmp = true

[Install]
WantedBy = multi-user.target
