<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ski Slope Least Squares</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='ski-slope.css') }}">
    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.css"
            integrity="sha384-xNwWFq3SIvM4dq/1RUyWumk8nj/0KFg4TOnNcfzUU4X2gNn3WoRML69gO7waf3xh"
            crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" />
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.js"
            integrity="sha384-UP7zD+aGyuDvxWQEDSRYcvoTxJSD82C6VvuEBktJZGo25CVhDstY9sCDHvyceo9L"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='ski-slope.js') }}"></script>
</head>
<body>
    <div class="ui-widget" id="main">
        <div class="field">
            <div>Select analysis</div>
            <select name="analysis" id="analysis">
                <option selected="selected" value="zdist">z_dist_fit_10_nov.py</option>
                <option value="lsq">ski_slope_least_squares_3_oct.py</option>
            </select>
        </div>
        <hr/>
        <h2 id ="zdist_header" style="display: none;">Normal Distribution Curve Fit</h2>
        <h2 id="lsq_header" style="display: none;">Least Squares Curve Fit<a id="desmos_link" href="/desmos"><img class="ui-corner-all" src="{{ url_for('static', filename='desmos_logo.png') }}"></a></h2>
        <form id="zdist_form" action="{{ url_for('submit_zdist_analysis') }}" method="post" enctype="multipart/form-data" style="display: none;">
            <div id="zdist_fields" class="form-panel">
                <div class="field">
                    <div>Select measurement data</div>
                    <div>
                        <label>
                            <span class="ui-button ui-widget ui-corner-all" role="button">
                                Browse...
                            </span>
                            <input class="upload_button" type="file" name="spreadsheet" style="display: none;"/>
                        </label>
                        <span class="upload_filename"></span>
                    </div>
                </div>
                <div class="field">
                    <div>Enter % for threshold (5-95)</div>
                    <div><input class="ui-widget ui-corner-all" type="number" name="user_threshold" min="5" max="95" required/></div>
                </div>
                <div class="field">
                    <button class="ui-button ui-widget ui-corner-all" type="submit" value="Upload">
                        <span class="ui-icon ui-icon-gear"></span> Do Curve Fit
                    </button>
                    <img class="spinner" src="{{ url_for('static', filename='spinner.gif') }}" />
                </div>
            </div>
            <p class="error_log"></p>
            <div class="image_container"></div>
            <div class="calc_results_container"></div>
        </form>
        <form id="lsq_form" action="{{ url_for('submit_lsq_analysis') }}" method="post" enctype="multipart/form-data" style="display: none;">
            <div id="lsq_fields" class="form-panel">
                <div class="field">
                    <div>Select measurement data</div>
                    <div>
                        <label>
                            <span class="ui-button ui-widget ui-corner-all" role="button">
                                Browse...
                            </span>
                            <input class="upload_button" type="file" name="spreadsheet" style="display: none;"/>
                        </label>
                        <span class="upload_filename"></span>
                    </div>
                </div>
                <div class="field">
                    <div id="curve_equation"></div>
                </div>
                <div class="field">
                    <div>Initial guess for independent variables</div>
                    <div>
                        <label>h: <input class="ui-corner-all" type="text" size="5" name="h" value="700"/></label>
                        <label>b: <input class="ui-corner-all" type="text" size="5" name="b" value="200"/></label>
                        <label>v: <input class="ui-corner-all" type="text" size="5" name="v" value="0"/></label>
                        <label>p: <input class="ui-corner-all" type="text" size="5" name="p" value="24"/></label>
                    </div>
                </div>
                <div class="field">
                    <div>
                        <input class="ui-checkbox ui-widget ui-corner-all" id="specify_bounds" name="specify_bounds" type="checkbox" value="specify_bounds" />
                        <label for="specify_bounds">Specify upper and lower bounds</label>
                    </div>
                    <div id="bounds">
                        <div id="bounds_overlay"></div>
                        <div>
                            <label>h: <input class="ui-corner-all" type="text" size="5" name="h_upper" value="inf"/></label>
                            <label>b: <input class="ui-corner-all" type="text" size="5" name="b_upper" value="inf"/></label>
                            <label>v: <input class="ui-corner-all" type="text" size="5" name="v_upper" value="inf"/></label>
                            <label>p: <input class="ui-corner-all" type="text" size="5" name="p_upper" value="inf"/></label>
                            <span>(upper, inclusive)</span>
                        </div>
                        <div>
                            <label>h: <input class="ui-corner-all" type="text" size="5" name="h_lower" value="-inf"/></label>
                            <label>b: <input class="ui-corner-all" type="text" size="5" name="b_lower" value="-inf"/></label>
                            <label>v: <input class="ui-corner-all" type="text" size="5" name="v_lower" value="-inf"/></label>
                            <label>p: <input class="ui-corner-all" type="text" size="5" name="p_lower" value="-inf"/></label>
                            <span>(lower, inclusive)</span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div>Maximum number of function evaluations</div>
                    <div><input class="ui-corner-all" type="text" size="20" name="max_nfev" value="1000000000"/></div>
                </div>
                <div class="field">
                    <input class="ui-checkbox ui-widget ui-corner-all" id="include_text" name="include_text" type="checkbox" value="include_text" checked="true"/>
                    <label for="include_text">Include all calculated values in the output image</label>
                </div>
                <div class="field">
                    <button class="ui-button ui-widget ui-corner-all" type="submit" value="Upload">
                        <span class="ui-icon ui-icon-gear"></span> Do Curve Fit
                    </button>
                    <img class="spinner" src="{{ url_for('static', filename='spinner.gif') }}" />
                </div>
            </div>
            <p class="error_log"></p>
            <div class="image_container"></div>
            <div class="calc_results_container"></div>
        </form>
    </div>
    <!-- render immediately -->
    <script>
        {% raw %}
        katex.render("y = h \\cdot \\cos \\left({{2(x + v)\\pi \\over p }}\\right) + b", document.getElementById("curve_equation"), {
            throwOnError: false
        });
        {% endraw %}

        // initialize module
        window.SkiSlope = (window.SkiSlope || {});

        // initialize analysis selector
            window.SkiSlope.$analysisSelector = $("#analysis").selectmenu({
            width: "auto",
            change: function(event, ui) {
                const val = $(this).val();
                if (val == "lsq") {
                    window.SkiSlope.zdist.hide();
                    window.SkiSlope.lsq.show();
                }
                else {
                    window.SkiSlope.lsq.hide();
                    window.SkiSlope.zdist.show();
                }
            }
        });
    </script>
</body>
</html>
